.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 16px;

    .back-button {
        position: absolute;
        left: 16px;
        cursor: pointer;
        color: #333;
    }

    .header-title {
        font-size: 22px;
        font-weight: bold;
        color: #111625;
        text-align: center;
        flex: 1;
    }

    .search-icon {
        position: absolute;
        right: 16px;
        cursor: pointer;
        color: #333;
    }


    &.light {

        .back-button,
        .search-icon,
        .header-title {
            color: white;
        }
    }
}